/* Start of script */


/* Logo Style */
img {
    display: block;
    max-width: 600px;
    width: auto;
    height: auto;
    margin: auto;
    padding-bottom: 10px;
}
/* End Logo Style */

/* Sort Bar Style */
.sort-bar {
    background-color: black;
    width: 600px;
    height: 50px;
    margin: auto;
}
.sort-bar h4 {
    color: white;
    font-size: 20px;
    text-align: right;
    line-height: 30px;
    vertical-align: middle;
    padding-right: 20px;
}
/* End Sort Bar Style */

/* Status Bar Style */
/* a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
.status-text {
    font-size: 20px;
    line-height: 50px;
    vertical-align: middle;
}
.status-bar{
    display:flex;
    flex-direction:row;
    width: 600px;
    height: 50px;
    margin: auto;
}
  
.status-bar > div{
    flex: 1 1 auto;
    text-align:center;
}
  
.active{
    background-color:#fafafa;
    color:black;
    border-right: 2px black solid;
}
.completed{
    background-color:#fafafa;
    color:black;
} */
/* End of Status Bar 1 */


/* Start of Status Bar Menu*/

ol, ul {
    list-style: none;
}
li {
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}
a:hover, a:focus, a:active {
    color: #999;
    text-decoration: none;
}
a {
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
a {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
}
a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
a:active::before {
    background-color: #000;
}
a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}
  /* End of Status Bar Menu */

/* Add Task Style */
.new-task {
    width: 600px;
    height: 40px;
    margin: auto;
    background-color:#E6E6E6;
}
.new-task h4{
    line-height: 20px;
    vertical-align: middle;
    padding-left: 10px;
}
/* End of Add Task */

/* Form Area Style */
.task-form {
    width: 600px;
    height: 200px;
    margin: auto;
    background-color: #fafafa;
}
.task-form h4 {
    line-height: 60px;
    vertical-align: middle;
    padding-left: 10px;
}
/* End Form Area Style */

/* Form Label Style */
label {
    font-size: 16px;
    line-height: 40px;
    vertical-align: middle;
    padding-left: 10px;
}
/* End Form Label Style */
/* Form Input Style */
form {
    padding-top: 10px;
}
.form-control{
    border: none;
    border-radius: 0;
    margin-left: 10px;
}
input[type=text] {
    border-bottom: 1px solid black;
}
input[type=date] {
    margin-left: 10px;
}
/* End Form Input Style */

/* Placeholder Style */
::-webkit-input-placeholder {
    text-align: center;
}
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
}
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
}
 
 :-ms-input-placeholder {  
    text-align: center; 
}
/* End Placeholder Style */


/* To-Do List Style*/
.thumbnail {
    background-color: white;
    width: 600px;
    height: 200px;
    margin: auto;
    /* border: 1px solid black;
    border-radius: 0; */
}


.todo-list .thumbnail {
    padding: 20px;
}

.todo-list .thumbnail h3 {
    margin: 0;
    padding: 0;
    min-height: 75px;
}

.todo-list .thumbnail .due-date {
    width: 100px;
}

.todo-list {
    min-height: 233px;
}

.ng-hide {
    display: none;
}

.todo-list.completed h3 {
    text-decoration: line-through;
}