<!doctype html>
<!-- By using the ng-app directive, <html> is designated as the root element of the -->
<!-- AngularJS application (in this case, the todoApp module) -->
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--BEGIN BOWER COMPONENTS CSS-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    <!--END BOWER COMPONENTS CSS-->

    <!--BEGIN CSS-->
    <link rel="stylesheet" href="assets/css/app.css">
    <!--END CSS-->
</head>
<body>
<!--The ng-controller directive tells Angular the scope of the controller-->
<!--In this case, the TodoCtrl is given the scope of the <div> element where it is called-->
<!--We then use TodoCtrl (as ctrl) to manipulate elements within this <div>-->
<div class="container ng-hide" ng-controller="TodoCtrl as ctrl" ng-show="ctrl">
    <hr/>

<!-- Container for Logo -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <img src="/img/Logo_Horizontal.png">
        </div>
    </div>
</div>

<!-- Sort Bar -->
    <div class="container-fluid">
<!-- favicon -->    
        <div class="row sort-bar">              
            <div class="col-sm-12">
                <span class="APP Title"><img src ="img/favicon.png" align ="left"></span>
<!--Sort Menu -->
                <div class="dropdown" align="right">
                    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" align="right"><h4>SORT
                    <span class="caret" align="right"></span></h4></button>
                    <ul class="dropdown-menu" align="right">
                        <li><a href="#">Task Name</a></li>
                        <li><a href="#">Date</a></li>
                    </ul>
                </div>
            </div>            
        </div>
    </div>
<!-- Status Bar -->
<!-- <div class="container-fluid status-bar status-text">
    <div class="active">
        <a href="#" ng-click="currentTab = 1" ng-class="{active: currentTab === 1}">Active</a>
    </div>
    
    <div class="completed">
        <a href="#" ng-click="currentTab = 2" ng-class="{active: currentTab === 2}">Completed</a>
    </div>
</div> -->

<!-- Status Bar 2-->
<!-- When mouseover, there will be an effect on the selected menu being underline-->
<div class = "container-fluid status-bar status-text" align = "center">
    <ul>
        <li class="Active"><a href="#"><Font color = "#FF0105">Active</font></a></li>
        <li class="Completed"><a href="#"><Font color = "#09E500">Completed</font></a></li>
    </ul>
</div>

<!-- Start or Task Form -->
<!-- Task Form Header -->
<div class="container-fluid">
    <div class="row new-task">
        <div class="col-xs-12">
            <h4>ADD TASK</h4>
        </div>
    </div>
</div>
<!-- Creates to-do input Form and fields -->
<!--The ng-submit directive specifies the function called when the Add button is clicked or ENTER is pressed-->
<!--$valid is a boolean that specifies whether a form or a specific input field's value is valid -->
<!--The ng-submit="..." code below, tells Angular to execute ctrl.submit() when button is clicked and the form is valid-->

<!--Input Task Name  -->
<div class="row task-form">
        <form class="form-inline" name="todoForm" ng-submit="ctrl.submit() && todoForm.$valid">
            <div class="col-xs-12">
                <label for="task">Task Name:</label>
    <!--Using the ng-model directive, we perform a 2-way data binding between the input field and-->
    <!--the ctrl.newTodo data model. By doing so, we automatically sync the view data and the data model data -->
                <input type="text" class="form-control" placeholder="Enter Task Description" ng-model="ctrl.newTodo.taskName" required/>
            </div>
    
    <!-- Input Completion Date -->
        <div class="col-xs-12">
            <label for="task">Due Date:</label>
            <input type="date" class="form-control" ng-model="ctrl.newTodo.dueDate" required/>
        </div>
    
    <!-- Input Priority: Radio Form -->
        <div class="col-xs-12">
            <label for="Priority">Priority:</label>
            <label for="High"><font color="#FF0105">High</font></label>
            <input type="radio" name="priority" ng-model="ctrl.Todo.priority" id="high" value="high">
            <label for="Normal"><font color="#F58302">Normal</font></label>
            <input type="radio" name="priority" ng-model="ctrl.Todo.priority" id="normal" value="normal">
            <label for="Low"><font color="#09E500">Low</font></label>
            <input type="radio" name="priority" ng-model="ctrl.Todo.priority" id="low" value="low">
        </div>
    <!-- The <button> type attribute specifies the behavior of the button -->
    <!-- A button with type=submit submits form data to the server by calling the appropriate function-->
    <!-- A button with type=reset resets the field to their initial values-->
    
    <!-- Add Task Button -->
        <div class="row col-xs-12" align = "right">
            <button type="submit" onclick="return confirm('Confirm adding task');"  style="border: 0; background: none;">
            <i class="fa fa-plus fa-2x" style="color:green" aria-hidden="true"></i>
            </button>

    
    <!-- Reset Button -->
        
             <button type="reset" onclick="return confirm('Clicking this will refresh the input fields');"                  style="border: 0; background: none;">
            <i class="fa fa-refresh fa-2x" style="color:skyblue" aria-hidden="true"></i>
            </button> 
 
        </div>
</div>
    <!-- End of Task Form -->


<!-- Incomplete Tasks Header -->
<div class="container-fluid">
    <div class="row new-task">
        <div class="col-xs-12">
            <h4>INCOMPLETED TASKS</h4>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row todo-list">
        <div class="col-xs-12" ng-repeat="todo in ctrl.todo" class="todo-list">
            <div class="thumbnail">
            <!-- Displaying Task Name-->
            <h3>{{todo.taskName}}</h3>
            <!-- Displaying Due Date -->
            <h5>{{todo.dueDate | date : "longDate"}}</h5>
            <!-- Displaying Priority. The exisiting script has bug so it will not display result-->
            <h5>{{todo.Priority}}</h5>

                <div class="row col-xs-12" align = "right">
        <!-- Check off button with test script -->  
                    <button type="success" ng-click="ctrl.changeStatus(false, $index)" 
                    onclick="return confirm('Clicking this will indicate completing the task and move to complete');" 
                    style="border: 0; background: none;">
                        <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
                    </button>
            
        <!-- Delete Task Button-->
                    <button type="danger" ng-click="ctrl.remove(false, $index)" 
                    onclick="return confirm('Are you sure you want to delete this task?');" 
                    style="border: 0; background: none;">
                        <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>  
</div>      

<!-- Completed Tasks Header -->
<div class="container-fluid">
        <div class="row new-task">
            <div class="col-xs-12">
                <h4>COMPLETED</h4>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row todo-list completed">
            <div class="col-xs-12" ng-repeat="doneTodo in ctrl.doneTodo" class="todo-list">
                <div class="thumbnail">
                <!-- Displaying Task Name-->
                <h3>{{doneTodo.taskName}}</h3>
                <!-- Displaying Due Date -->
                <h5>{{doneTodo.dueDate | date : "longDate"}}</h5>
                <!-- Displaying Priority. The exisiting script has bug so it will not display result-->
                <h5>{{doneTodo.Priority}}</h5>
    
                    <div class="row col-xs-12" align = "right">  
            <!-- Revert Back to Active Button-->
                        <button type="danger" ng-click="ctrl.changeStatus(true, $index)" 
                        onclick="return confirm('Reverting task to active');" 
                        style="border: 0; background: none;">
                            <i class="fa fa-backward fa-2x" aria-hidden="true"></i>
                        </button>
            <!-- Delete Task Button-->
                    <i class="fa fa-trash fa-2x" aria-hidden="true" ng-click="ctrl.remove(true, $index)" 
                        onclick="return confirm('Are you sure you want to delete this task?');">
                        </i>
                    </div>
                </div>
            </div>
        </div>  
    </div>    
</div>
<!-- Load JS files: Placed at the end of the document so the pages load faster -->
<!--BEGIN BOWER COMPONENTS JS-->
<!-- bootstrap uses jquery and needs to be loaded even if we don't use directly in our app. -->
<!-- jquery should always be loaded before bootstrap -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<!--<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>-->
<!--END BOWER COMPONENTS JS-->

<!--BEGIN SOURCE JS-->
<script src="app/app.module.js"></script>
<script src="app/todo/todo.controller.js"></script>
<!--END SOURCE JS-->
</body>
</html>
